/web-app/frontend/node_modules/
/web-app/frontend/jvp-frontend/node_modules
/web-app/backend/__pycache__/*
/web-app/backend/.python-version
/web-app/backend/JVP/*
/web-app/environment/

web-app/.idea/
web-app/backend/app/__pycache__/
web-app/venv/
web-app/backend/app/collection/__pycache__/
