.stop-button {
    font-family: sans-serif;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    background-color: #D25555;
    border-color: black;
    color: white;
    border-radius: 0.125em;
    cursor: pointer;
}

.stop-button:hover {
    background-color: rgb(187, 76, 76);
}

.stop-button:disabled {
    background-color: grey;
    cursor: default; 
}

.elapsed-time {
    display: inline-block;
    background-color: white;
    color: black;
    font-family: sans-serif;
    padding: 0.5em 1.5em;
    border: black;
    border-radius: 0.15em;
    border-width: 0.1em;
    font-size: 1.3em;
    margin: 0.1em;
}
